#
# Metrics services -- provides a web GUI to monitor Lighthouse nodes.
#
version: "3.3"

services:
    prometheus:
        build:
            context: prometheus
        volumes:
            - prometheus-data:/prometheus
            - type: bind
              source: ./scrape-targets
              target: /prometheus/targets
        ports:
            - ${PROM_LISTEN_ADDRESS}:9090:9090
        restart: always
        network_mode: bridge
    grafana:
        build:
            context: grafana
        volumes:
            - grafana-data:/var/lib/grafana
        ports:
            - ${GRAFANA_LISTEN_ADDRESS}:3000:3000
        restart: always
        network_mode: bridge

volumes:
    grafana-data:
    prometheus-data:
    targets:
